/* header CSS */
.header {
  font-family: "Luckiest Guy", cursive;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  font-size: clamp(20px, 2.5vw, 30px);
  line-height: clamp(20px, 2, 5vw, 30px);
}

.header>span:nth-child(1) {
  color: purple;
}

.header>span:nth-child(2) {
  color: dodgerblue;
}

.header>span:nth-child(3) {
  color: darkgreen;
}

.header>span:nth-child(4) {
  color: darkred;
}

.header>span:nth-child(5) {
  color: orangered;
}

.header>span:nth-child(6) {
  color: peru;
}

.header>span:nth-child(7) {
  color: transparent;
}

.header>span:nth-child(8) {
  color: crimson;
}

.header>span:nth-child(9) {
  color: mediumorchid;
}

.header>span:nth-child(10) {
  color: darkblue;
}

.header>span:nth-child(11) {
  color: red;
}

.header>span:nth-child(12) {
  color: blue;
}

/* fruits panel CSS */
/* .fruitsVisualizerContainer {
  @media (width < 768px) {
    width: 100%;
    height: max-content;
  }
} */

.fruitsSection {
  background-color: #4c91a5;
  background-image:
    linear-gradient(0deg, rgba(200, 170, 120, 0.18) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200, 170, 120, 0.18) 1px, transparent 1px);
  /* size of the woven squares */
  background-size: 20px 20px;
  border-radius: 8px;
  border: 1px solid rgba(200, 170, 120, 0.3);
  align-content: start;
}

.fruitsSection>.fruitItem {
  font-size: clamp(20px, 2vw, 30px);
  line-height: clamp(24px, 2.4vw, 36px);
  border-radius: 4px;
  height: max-content;
}

/* level description and code editor CSS */
.levelDesc {
  font-size: clamp(12px, 1.6vw, 15px);
  line-height: clamp(16px, 2vw, 19px);
  font-family: sans-serif;
}

.levelDesc>span {
  background-color: #a2cefc;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 1px 2px;
}

.levelDesc>p {
  display: inline-block;
  background-color: #bfddfe;
  line-height: clamp(12px, 1.8vw, 17px);
  font-weight: bold;
  padding: 1px 2px;
}

.demoFruits {
  margin: clamp(8px, 1vw, 16px) 0 0 0;
}

.demoFruit {
  font-size: clamp(16px, 1.5vw, 24px);
  line-height: clamp(20px, 1.8vw, 32px);
  border-radius: 4px;
  height: max-content;
}

.codeBox {
  display: flex;
  flex-direction: column;
  font-size: clamp(12px, 1.6vw, 15px);
  border: 2px dashed #99a1af;
  border-radius: 4px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;

  @media (width < 768px) {
    border-width: 1px;
  }
}

.error {
  font-size: clamp(12px, 1.6vw, 15px);
  font-family: Arial, Helvetica, sans-serif;
}

.button,
.nextBtn {
  font-size: clamp(10px, 1.5vw, 15px);
  color: white;
  border-radius: 4px;
  height: max-content;
  padding: 5px 10px;

  @media (width < 1024px) {
    padding: 2.5px 6px;
  }
}

.button,
.enabledNextBtn {
  cursor: pointer;
  background-color: #155dfc;
}

@media (hover: hover) {

  .button:hover,
  .enabledNextBtn:hover {
    background-color: #1447e6;
  }
}

.footer {
  align-self: center;
  font-size: clamp(12px, 1.6vw, 15px);
}

/* levels indicator and modal CSS */
.levelDiv {
  background-color: #51a2ff;
  height: 100%;
  width: clamp(100px, 15vw, 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f4f6;
  border-width: 0 1px;
  cursor: pointer;
}

.levelsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  border-radius: 4px;
}

.levelCircle {
  width: 30px;
  height: 30px;
  background-color: #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

@media (hover: hover) {

  .levelCircle:hover {
    border: 2px solid #f9fbfb;
  }
}

.active {
  border: 2px solid #f9fbfb;
}

.passedLevel {
  background-color: #8ec5ff;
}

/* animations CSS */
.newFruitAnimation {
  animation: popIn 0.4s ease-out;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.newLevelAnimation {
  animation: dropDown 0.4s ease-out;
}

@keyframes dropDown {
  0% {
    transform: scale(0.5) translateY(-250px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}