.fruitsSection {
  /* background-color: #faf7f2;
  background-color: #f9f3e7; */
  background-color: #4c91a5;
  background-image:
    linear-gradient(0deg, rgba(200, 170, 120, 0.18) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200, 170, 120, 0.18) 1px, transparent 1px);
  /* size of the woven squares */
  background-size: 20px 20px;
  border-radius: 8px;
  border: 1px solid rgba(200, 170, 120, 0.3);
}

.animateArray {
  animation: animate 1s ease 1;
}

@keyframes animate {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}