/* header CSS */
.header {
  font-family: "Luckiest Guy", cursive;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
}

.header>span:nth-child(1) {
  color: purple;
}

.header>span:nth-child(2) {
  color: dodgerblue;
}

.header>span:nth-child(3) {
  color: darkgreen;
}

.header>span:nth-child(4) {
  color: darkmagenta;
}

.header>span:nth-child(5) {
  color: peru;
}

.header>span:nth-child(6) {
  color: darkorange;
}

.header > span:nth-child(7) {
  color: transparent;
}

.header>span:nth-child(8) {
  color: crimson;
}

.header>span:nth-child(9) {
  color: mediumorchid;
}

.header>span:nth-child(10) {
  color: darkblue;
}

.header>span:nth-child(11) {
  color: red;
}

.header>span:nth-child(12) {
  color: blue;
}

/* fruits panel CSS */
.fruitsSection {
  background-color: #4c91a5;
  background-image:
    linear-gradient(0deg, rgba(200, 170, 120, 0.18) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200, 170, 120, 0.18) 1px, transparent 1px);
  /* size of the woven squares */
  background-size: 20px 20px;
  border-radius: 8px;
  border: 1px solid rgba(200, 170, 120, 0.3);
}

/* level description CSS */
.levelDesc {
  font-size: 15px;
  line-height: 19px;
  font-family: sans-serif;
}

.levelDesc>span {
  background-color: #a2cefc;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 1px 2px;
}

.levelDesc>p {
  display: inline-block;
  background-color: #bfddfe;
  line-height: 17px;
  font-weight: bold;
  padding: 1px 2px;
}

/* levels modal CSS */
.levelsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  border-radius: 4px;
}

.levelCircle {
  width: 30px;
  height: 30px;
  background-color: #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.levelCircle:hover,
.active {
  border: 2px solid #f9fbfb;
}

.passedLevel {
  background-color: #8ec5ff;
}

/* animations CSS */
.newFruitAnimation {
  animation: popIn 0.4s ease-out;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.newLevelAnimation {
  animation: dropDown 0.4s ease-out;
}

@keyframes dropDown {
  0% {
    transform: scale(0.5) translateY(-250px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}